.homeContainer {
    background-color: #f2f2f2;
}

.container {
    padding: 10px;
    background-color: white;
}

#allBooksContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    background-color: white;
}