#categoryPage {
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

}

/*<-----Empty Page --->*/

#emptyPage{
    padding: 20px;
    background-color: white;
}

#emptyPage > .emptyLink{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color:coral;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    gap:5px;
    cursor: pointer;
    margin: 10px 10px 30vh 10px;
    padding: 0px;
    text-decoration: none;
}



#emptyPage img {
    position:absolute;
    right:90px;
    top:100px;
}